.admin-panel {
	width: 100%;
	max-width: 1600px;

	&__title {
		font-size: 48px;
		font-family: 'Jost';
		font-weight: 600;
		font-style: normal;
		font-display: swap;
		text-align: center;
	}

	h3{
		font-size: 20px;
		margin-bottom: 20px;
		font-weight: 600;
	}

	&__form {
		width: 100%;
	}

	.tabcontent {
		& th {
			width: 130px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 8px;
		}

		& td {
			width: 130px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 8px;
		}
		& tr {
			display: flex;
			flex-direction: row;
			column-gap: 120px;
		}
	}

	.tab{
		margin: 30px 0;
	}

	&__close-btn{
		margin-top: 50px;
	}
}

.requests__btn-group{
	display: flex;
	flex-direction: column;
	row-gap: 3px;
}
