.services{
	margin-bottom: 100px;

	&__line{
		width: 100%;
		display: flex;
		justify-content: space-between;
		height: 73px;
		padding: 20px 0;

		&:not(:last-child){
			border-bottom: 1px solid var(--color-light-gray);
		}

		& span{
			color: var(--color-gray)
		}
	}
}