:root{

  --color-gray: #939393;
  --color-light: #FFFFFF;
  --color-dark-blue: #36474F;
  --color-light-gray: #f5f5f5;
  --color-dark: #000;

  --border-radius: 40px;

  --container-width: 1200px;
  --container-margin-y: 50px;

  --button-height: 51px;
  --input-height: 34px;

  --transition-duration: 0.2s;
}